<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'base.html' %}
    {% load staticfiles %}
    {% block css_up %}
        <link rel="stylesheet" href="{% static 'ztree/css/zTreeStyle/zTreeStyle.css' %}" type="text/css">
        <style>
            .ztree {
                margin-top: 10px;
                border: 1px solid #617775;
                background: #f0f6e4;
                height: 251px;
                overflow-y: scroll;
                overflow-x: auto;
            }
        </style>
    {% endblock %}
    {% block block_title %}
        <title>角色列表</title>
    {% endblock %}
</head>
<body>
{% block block_content %}
    <section class="content-header">
        <h1>
            Role List
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Backend</a></li>
            <li class="active">Role list</li>
        </ol>
    </section>

    <section class="content">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_add">
                        Add Role
                    </button>
                </div>
                <div class="box-body table-responsive">
                    <table id="table_roles" class="table table-bordered">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>update_time</th>
                            <th>create_time</th>
                            <th>del_status</th>
                            <th>operate</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="modal_add">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add Role</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="add_input_name" class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="add_input_name"
                                           placeholder="Name"
                                           autocomplete="off" maxlength="20"
                                           oninput="value=value.toUpperCase().replace(/[^A-Z]/g,'')">
                                </div>
                                <span class="col-sm-1 help-block"><i class="fa"></i></span>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Menus</label>
                                <div class="col-sm-7">
                                    <div class="zTreeDemoBackground">
                                        <ul id="add_menu_tree" class="ztree"></ul>
                                    </div>
                                </div>
                                <span class="col-sm-1 help-block"><i class="fa"></i></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="roles_obj.add_role(this)">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_edit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit Role</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="edit_input_name" class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="edit_input_name"
                                           placeholder="Name"
                                           autocomplete="off" maxlength="20"
                                           oninput="value=value.toUpperCase().replace(/[^A-Z0-9_]/g,'')">
                                </div>
                                <span class="col-sm-1 help-block"><i class="fa"></i></span>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Menus</label>
                                <div class="col-sm-7">
                                    <div class="zTreeDemoBackground">
                                        <ul id="edit_menu_tree" class="ztree"></ul>
                                    </div>
                                </div>
                                <span class="col-sm-1 help-block"><i class="fa"></i></span>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Del Status</label>
                                <div class="col-sm-7">
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" name="del_status" value="false">
                                            false
                                        </label>
                                    </div>
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" name="del_status" value="true">
                                            true
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="roles_obj.edit_role(this)">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="url_page_roles" value="{% url 'url-backend-ajax-role-page' %}">
    <input type="hidden" id="url_add_role" value="{% url 'url-backend-ajax-role-add' %}">
    <input type="hidden" id="url_update_role" value="{% url 'url-backend-ajax-role-update' %}">
    <input type="hidden" id="url_obtain_role" value="{% url 'url-backend-ajax-role-obtain' %}">
    <input type="hidden" id="url_all_menus" value="{% url 'url-backend-ajax-menu-all' %}">
{% endblock %}
{% block block_script %}
    <script src="{% static 'ztree/js/jquery.ztree.core.min.js' %}"></script>
    <script src="{% static 'ztree/js/jquery.ztree.excheck.min.js' %}"></script>
    <script src="{% static 'js/bk/roles.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            roles_obj.init()
        })
    </script>
{% endblock %}
</body>
</html>